@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: system-ui;
  --textColor : #F5F5F5;
  --bGprimary: #0b0c1e;
}

body {
  padding: 20px;
  background-color: var(--bGprimary);
  color: var(--textColor);
  font-family: 'Nunito', sans-serif
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family: 'Bangers', cursive;
  font-weight: 400;
  text-decoration: overline;
  
}


@media screen and (min-width: 1200px) {
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
}
}
  
